<h1> Task : <%= @task.title %></h1>

<div class="wrapper-grey">
  <h3> Detail :</h3>
  <p><%= @task.details %></p>
  <% if @task.completed == false %>
    <li class="list-nostyle"><input type="checkbox" disabled="disabled"> This task is not complete yet </li>
  <% else %>
    <li class="list-nostyle"><input type="checkbox" checked="checked" disabled="disabled"> Completed </li>
  <% end %>
</div>

<div class="border-top">
  <p><%= link_to 'Mettre à jour ma tache', edit_task_path, class: 'btn btn-primary' %></p>
    <p><i class="fas fa-undo-alt"> <%= link_to 'Retour à ma liste de taches', tasks_path %></i></p>
    <p><i class="fas fa-trash-alt"></i> <%= link_to "Supprimer la tache", task_path(@task.id), method: :delete, data: { confirm: "Are you sure?" }%> </p>
</div>
